#profile-pic {
  border-radius: 10px;
  width: 200px;
  float: left;
  margin: 5px;
}
h1 {
  margin: auto;
  font-size: 50px;
  text-align: center;
  background-color: blueviolet;
  border-radius: 10px;
  width: 80%;
  text-decoration: underline;
  opacity: 0.9;
}
h2 {
  font-size: 30px;
  font-style: oblique;
  text-decoration: underline;
}
h3 {
  font-size: 20px;
}
main {
  background-color: bisque;
  border-radius: 10px;
  opacity: 0.9;
  margin: 5px;
}
p {
  color: darkblue;
  padding: 10px;
  height: 160px;
}
#background-image {
  background-image: url('./../img/uw.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
div {
  color: yellow;
  border-style: solid;
  font-weight: bolder;
}